.section {
    &-homebanner {
        @media (min-width: 992px) {
            padding-bottom: 170px;
        }
    }

    &-customerstories {
        max-width: 1920px;
        @include margin-auto;
    }
}

.homebanner {
    .row {
        align-items: center;
    }

    .heading-lg {
        margin-bottom: 40px;
    }

    &-links {
        margin-top: 85px;

        *:not(:last-child) {
            margin-right: 30px;
        }
    }

    p {
        color: $color-black;
        font-size: 27px;
        line-height: 35px;
        max-width: 666px;

        @media (max-width: 567px) {
            font-size: 20px;
        }
    }

    small {
        margin-top: 12px;
        opacity: .5;
    }

    &-form {
        color: #B2B2B2;
        max-width: 398px;
        margin-top: 34px;
    }

    &-clients {
        display: flex;
        justify-content: space-between;
        max-width: 1220px;
        margin-top: 95px;
        @include margin-auto;

        span {
            display: inline-block;
            padding: 10px;
        }

        img {
            max-width: 100%;
        }
    }

    &-contractsico {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-top: 170px;

        @media (max-width: 1200px) {
            margin-top: 120px;
        }

        @media (max-width: 991px) {
            margin-top: 90px;
        }

        @media (max-width: 767px) {
            margin-top: 50px;
        }

        img {
            display: block;
            max-width: 100%;
            height: 130px;
            @include margin-auto;
            margin-bottom: 55px;

            @media (max-width: 991px) {
                height: 90px;
                margin-bottom: 25px;
            }
        }
    }
}

.hero-img {
    position: relative;
    @include unselect;

    &-parent {}

    &-children,
    &-child {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &-child {}
}

.features {
    .section-head {
        margin-bottom: 40px;
    }

    [class^="col-"] {
        display: flex;
        flex-flow: column;
    }

    @media (min-width: 992px) {
        .row {
            margin: 0 -34px;
        }

        [class^="col-"] {
            padding: 0 34px;
        }
    }

    @media (max-width: 991px) {
        [class^="col-"]:not(:last-child) {
            margin-bottom: 15px;
        }
    }


    &-img {
        margin-bottom: 55px;
    }

    .heading-alt {
        margin-bottom: 40px;

        @media (max-width: 567px) {
            margin-bottom: 15px;
        }
    }

    p {
        margin-bottom: 40px;

        @media (max-width: 567px) {
            margin-bottom: 15px;
        }
    }

    a {
        margin-top: auto;
    }
}

.worksimplify {
    text-align: center;

    .section-head {
        margin-bottom: 80px;
    }

    .heading-alt {
        margin-bottom: 30px;
    }

    img {
        max-width: 100%;
        height: 140px;
        margin-bottom: 20px;
    }

    a {
        margin-top: 20px;
    }

    .link-box-orange {
        margin-top: 60px;
    }
}

.leadindustry-contract {
    &::before {
        background-color: $color-main-dark;
    }
}

.customerstories {
    @media (min-width: 992px) {
        [class^="col-"] {
            padding: 0;
        }
    }

    @media (max-width: 991px) {
        [class^="col-"] {
            padding: 0 15px;
        }
    }

    &-img {
        position: relative;
    }

    &-cont {
        padding: 80px 15px 40px 70px;

        @media (min-width: 992px) {
            max-width: 70%;
        }
    }

    .section-head {
        margin-bottom: 60px;
    }

    .heading {
        @media (max-width: 991px) {
            font-size: 22px;
            line-height: 34px;
            margin-bottom: 20px;
        }
    }

    .heading-alt {
        font-size: 30px;

        @media (max-width: 991px) {
            font-size: 18px;
        }
    }

    p {
        font-size: 20px;

        img {
            width: auto;
            height: 16px;
            margin-right: 12px;
        }
    }

    a {
        margin-top: 65px;
    }
}