@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;300i;400;700;900&display=swap');

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Book.woff2') format('woff2'),
        url('../fonts/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}